.search {
    flex-wrap: wrap;
    margin-top: 80px !important;
  }
  .search .card {
    background-color: goldenrod;
    width: 18rem;
  }
  .search .card-name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .search .card-price {
    color: green;
    font-weight: bold;
  }
  .search button {
    border-radius: 0;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .search .card-text {
    color: rgb(90, 89, 89);
  }
  
  .search .card img:hover {
    transform: scale(0.9);
  }
  
  .search .card-img-top {
    height: 300px !important;
  }